<!-- MAIN  -->
<main>
  <!-- CURRENT SUBSCRIPTIONS -->
  <div class="container-fluid">
    <div class="row text-center my-3">
      <h2 class="page-h2">CURRENT SUBSCRIPTIONS</h2>
    </div>
    <div class="newAccount"></div>

    <!-- SUBSCRIPTIONS GRAPHICS -->
    <!-- <div class="row justify-content-center">
          <div class="col-10" id="graphic">
            <img src="./assets/img/graphics.jpg" alt="temp graphic" />
          </div>
        </div> -->

    <!-- ACCOUNTS -->
    <div class="row text-center">
      <h2 class="page-h2">ACCOUNTS</h2>
      <!--  CREATE AND DELETE ACCOUNT BUTTONS -->
      <div id="newAccBtn" class="col accountbtn">
        <a href="./new-account.html">NEW ACCOUNT</a>
      </div>
      <div id="deleteAccBtn" class="col accountbtn">DELETE ACCOUNT</div>
    </div>

    <div class="row accounts"></div>
  </div>
</main>