

    <!-- LOGIN AND REGISTRATION -->
    <div class="container container-sm container-md container-lg container-xl">
      <div class="login">

        <!-- email address -->

        <div class="row g-4">
          <div class="col-8 offset-2 p-3">
            <label for="email" class="form-label">Email Address:</label>
            <input
              type="email"
              class="form-control form-control-sm"
              id="email"
              placeholder="name@example.com"
            />
          </div>
        </div>

        <!-- password -->
        <div class="row g-4">
          <div class="col-8 offset-2 p-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="password"
              placeholder="8-12 Characters min"
            />
          </div>
        </div>
        <!-- Login button -->
        <div class="container text-center p-4">
          <div class="col-auto">
            <button type="submit" class="col-6 login-btn">LOGIN</button>
          </div>
        </div></div>
    </div>
     <!--REGISTER-->
    ! <div class="container text-center">
      <div class="col-auto  p-3 ">
        <a id="register" href="/registration">REGISTER</a>
        </div>
      </div>
    </div> 

  

