<!-- MAIN-->

<div class="row text-center my-3">
  <h2 class="page-h2">CREATE NEW ACCOUNT</h2>
</div>
<form class="form new-account-form">
<div class="container my-4">
  <!-- ACCOUNT NAME -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="accountName" class="form-label">Account Name:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="accountName"
        placeholder="Netflix"
      />
    </div>
  </div>

 

  <!-- AMOUNT-->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="amount" class="form-label">Amount to pay $:</label>
      <input
        class="form-control form-control-sm"
        placeholder="25.00"
        id="amount"
        type="number"
        min="0.01"
        step="0.01"
        max="2500"
        value="22.00"
      />
    </div>
  </div>

  <!-- PAYMENT DATE -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="dueDate" class="form-label">Email Address:</label>
      <input
        type="date"
        class="form-control form-control-sm"
        id="dueDate"
        placeholder="name@example.com"
      />
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <div class="container text-center p-4">
    <div class="col-auto">
      <button id="createAccBtn" type="submit" class="col-6 login-btn">
        SUBMIT
      </button>
    </div>
  </div>
</div>

</form>

  <script src="assets/js/account.js"></script>

