<!-- LOGIN AND REGISTRATION -->
<div class="container my-4">
  <!-- first name -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="fName" class="form-label">First Name:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="fName"
        placeholder="John"
      />
    </div>
  </div>

  <!-- last name -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="lName" class="form-label">Last Name:</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="lName"
        placeholder="Doe"
      />
    </div>
  </div>

  <!-- email address -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="email" class="form-label">Email Address:</label>
      <input
        type="email"
        class="form-control form-control-sm"
        id="email"
        placeholder="name@example.com"
      />
    </div>
  </div>

  <!-- password -->
  <div class="row g-4 registration">
    <div class="col-8 offset-2 p-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control form-control-sm"
        id="password"
        placeholder="8-12 Characters min"
      />
    </div>
  </div>
  <!-- Login button -->
  <div class="container text-center p-4">
    <div class="col-auto">
      <button type="submit" class="col-6 login-btn">SUBMIT</button>
    </div>
  </div>
</div>