* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #044f7e;
  --green: #aebf2a;
  --red: #8c2020;
  --darkgrey: #363636;
  --lightgrey: #979595;
}

body {
  background-color: var(--blue);
  background-image: url("../img/blue-bcg.jpg");
  background-repeat: repeat;
  background-size: cover;
}

#logo {
  margin-left: 30px;

  height: 90px;
  width: auto;
}

.row {
  color: rgb(75, 74, 74);
  font-weight: bold;
}

.login {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 80px;
  box-shadow: 5px 5px 8px var(--darkgrey);
}

.login-btn {
  width: 90px;
  background-color: var(--lightgrey);
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
.login-btn:hover {
  background-color: var(--green);
}

#register {
  margin: auto;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#register:hover {
  color: var(--green);
  text-shadow: 2px 2px 5px rgb(27, 27, 27);
}

.registration {
  color: white;
}
/****************************
Style the navigation menu
 
 **************************** */

nav {
  border-bottom: 5px solid yellowgreen;
  box-shadow: 0 3px 9px rgb(63, 63, 63);
}

header {
  background-color: var(--darkgrey);
}
li {
  color: white;
  list-style: none;
  transition: 0.7s ease;
}
li:hover {
  color: greenyellow;
}
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24 px;
  max-height: 100px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* @media screen and (min-width: 768px) { */
.hamburger {
  display: block;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  left: -1000%;
  top: 100px;
  gap: 0;
  flex-direction: column;
  background-color: rgb(1, 41, 66);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  font-weight: bold;
}
li {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}

/* DASHBOARD */

.page-h2 {
  background-color: var(--red);
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}

#graphic {
  background-color: white;
  margin-bottom: 30px;
}

.accountbtn {
  background-color: white;
  margin: 10px 5px;
  padding: 5px;
}
.accountbtn:hover {
  background-color: var(--green);
}
.accountbtn a:visited {
  color: black;
}

.accountbtn a {
  text-decoration: none;
}
